{%- from 'macro.heading.njk' import heading -%}
{%- set page_title -%}{{ title +' :: '+ site.meta.title if title else site.meta.title }}{%- endset -%}

<!doctype html>
<html lang="en" class="bg-transparent antialiased [&:has(:is(dialog[open]))]:(overflow-hidden [scrollbar-gutter:stable])" x-data x-cloak>

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>{{ page_title }}</title>
    <meta name="description" content="{{ site.meta.description }}" />
    <meta name="author" content="{{ site.meta.author }} - {{ site.meta.author_url }}" />
    <meta name="generator" content="{{ eleventy.generator }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="{{ '/' | url }}favicon.ico" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link onload="this.onload=null;this.rel='stylesheet'" rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" />

    <meta property="og:title" content="{{ page_title }}" />
    <meta property="og:description" content="{{ site.meta.description }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ page.url | url }}" />
    <meta property="og:image" content="{{ '/' | url }}_assets/img/og.png" />

    <script>
      if (localStorage.getItem('color-mode') === 'dark' || (window.matchMedia('(prefers-color-scheme: dark)').matches && !localStorage.getItem('color-mode'))) {
        document.documentElement.classList.add('dark');
      }
    </script>

    {% set css %}
      {% include 'css/prism.css' %}
    {% endset %}
    <style>
      [x-cloak] { display: none; }
      {{ css | cssmin | safe }}
    </style>
    {% renderblock 'css' %}
    <style data-twind></style>

  </head>

  <body class="bg-(gray-50 grid) text-pri-900 !block" style="display: none;" data-instant-intensity="mousedown">

    <div class="min-h-screen flex-(& col) relative">

      <header class="w-full flex-none">
        <nav class="mx-auto py-8 px-4 max-w-7xl flex-(& col) items-center gap-4 md:(flex-row justify-between)">
          <a href="{{ '/' | url }}" class="group text-pri-600 flex-(& none) items-center gap-2 transform motion-safe:(transition) hover:(text-pri-500)">
            {%- set width = '11' -%}
            {%- include '_logo.njk' %}
            <strong class="text-xl font-semibold hidden md:(text-2xl tracking-tight block)">{{ site.meta.title }}</strong>
          </a>
          <ul class="flex items-center gap-4 md:(gap-10)">
            {%- for item in collections.all | eleventyNavigation %}
            <li>
              <a href="{{ item.url | url }}" class="flex text-pri-700 font-semibold relative motion-safe:(transition) hover:(text-pri-800) dark:(hover:(text-pri-400))">
                {{ item.key }}
                {% if item.url == page.url or item.url in page.url %}<b class="w-full h-[2px] bg-current absolute inset-x-0 -bottom-1 opacity-25"></b>{% endif %}
              </a>
            </li>
            {%- endfor %}
            <li>
              <button class="color-mode text-gray-500 motion-safe:(transition) hover:(text-gray-700)" aria-label="Toggle color mode">
                <span class="block dark:(hidden)"><iconify-icon icon="mdi:weather-sunny" inline="false" class="iconify text-xl" noobserver></iconify-icon> <span class="sr-only">Switch to dark mode</span></span>
                <span class="hidden dark:(block)"><iconify-icon icon="mdi:weather-night" inline="false" class="iconify text-xl" noobserver></iconify-icon> <span class="sr-only">Switch to light mode</span></span>
              </button>
            </li>
          </ul>
        </nav>
      </header>

      <main class="pb-8 w-full flex-1 md:(pb-24)">
        <section class="mx-auto px-4 max-w-7xl">
          <div class="pt-12">
            {{ heading({slot: title, divider: true}) }}
            {{ content | safe }}
          </div>
        </section>
      </main>

      {%- macro footerLink(title='Title',sub='',url='#') %}
      <li class="py-3 leading-tight">
        <a href="{{ url | url }}" class="group motion-safe:(transition) hover:(text-pri-600)">
          {%- if sub %}<small class="pb-1 text-xs block opacity-80">{{ sub }}</small>{%- endif %}
          <strong>{{ title }}</strong>
        </a>
      </li>
      {%- endmacro %}
      <footer class="pt-8 w-full bg-pri-500/5 flex-none md:(pt-24)">
        <div class="mx-auto px-4 max-w-7xl">
          <div class="pb-8 text-center space-y-5 md:(pb-12 text-start flex items-start justify-between gap-5 space-y-0)">
            <nav class="flex-none">
              <a href="{{ '/' | url }}" class="group text-pri-700/50 inline-flex transform motion-safe:(transition) hover:(text-pri-500)">
                {%- set width = '8' -%}
                {%- include '_logo.njk' %}
              </a>
              <ul class="py-5 text-lg flex justify-center gap-5 md:(justify-start)">
                {%- for item in site.social %}
                <li>
                  <a href="{{ item.url }}" class="opacity-50 motion-safe:(transition) hover:(text-{{ item.color }}-500 opacity-100)" aria-label="{{ item.title }}">
                    <iconify-icon icon="{{ item.ico }}" class="iconify" noobserver></iconify-icon>
                  </a>
                </li>
                {%- endfor %}
              </ul>
            </nav>
            <nav class="w-full text-sm flex-(& col) gap-10 md:(max-w-xl flex-row justify-end gap-32)">
              {%- for cat in site.footer %}
              <ul>
                <li>
                  <strong class="pb-1.5 uppercase block opacity-75">{{ cat.title }}</strong>
                  <ul>
                    {# sitemap #}
                    {%- if cat.title == 'Sitemap' %}
                      {%- for item in collections.all | eleventyNavigation %}
                      {{ footerLink(title=item.key,sub=item.title,url=item.url) }}
                      {%- endfor %}
                    {# tech stack #}
                    {%- else %}
                      {%- for item in cat.nav %}
                      {{ footerLink(title=item.title,sub=item.sub,url=item.url) }}
                      {%- endfor %}
                    {%- endif %}
                  </ul>
                </li>
              </ul>
              {%- endfor %}
            </nav>
          </div>
          <div class="border-(t gray-500/20) py-3 text-(xs gray-500 center) leading-relaxed space-y-3 [&_p+p]:(md:(text-end)) md:(py-6 text-start flex-(& wrap) justify-between space-y-0)">
            <p>
              &copy;{% year %} {{ site.meta.title }}
              <span class="block">by: <a href="{{ site.meta.author_url }}" class="text-pri-700 font-medium motion-safe:(transition) hover:(text-pri-900)">{{ site.meta.author }}</a></span>
            </p>
            <p>
              Updated on:
              <time datetime="{% build 'raw' %}" class="block">{% build %}</time>
            </p>
          </div>
        </div>
      </footer>

    </div>

    {%- renderblock 'js' %}
    <script src="{{ '/' | url }}_assets/js/_app.js?v={% bust %}"></script>

  </body>

</html>
